.navbarItems .selected {
	background-color: #DAFFEF;
	border-radius: 10px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2em;
	padding: 0.5em 0em;
	font-size: 2em;
	background-color: white;
	border-bottom: 2px solid lightgrey;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.navbarItems {
	display: flex;
	gap: 1em;
	font-weight: 700;
	font-size: 0.8em;
	margin-right: 2em;
}

.logo {
	height: 50px;
	width: auto;
	margin-left: 1em;
	cursor: pointer;
}

.navbarItem {
	padding: 0.25em 0.5em;
	color: black;
	border-radius: 5px;
	font-size: 0.7em;
}

.navspacer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}