.navbarItems .selected {
	background-color: #DAFFEF;
	border-radius: 10px;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2em;
	padding: 0.5em 2em;
	font-size: 2em;
	border-bottom: 2px solid lightgrey;
	/* background-color: #FCFFFD; */
}

.navbarItems {
	display: flex;
	gap: 1em;
	font-weight: 700;
	font-size: 0.8em;
}

.navbarItem {
	padding: 0.25em 0.5em;
	color: black;
	border-radius: 5px;
	font-size: 0.7em;
}