.headerSection {
  text-align: center;
  color: #64B6AC;
  margin: 3em auto;
  max-width: 1000px;
}

.contactTableContainer {
  max-width: 800px;
  margin: 2em auto;
  border-collapse: collapse;
}

.contactTable th,
.contactTable td {
  border: 1px solid #ddd;
  padding: 10px;
}

.contactTable {
  width: 100%;
}