.headerSection {
    text-align: center;
    color: #64B6AC;
    margin: 1.5em auto;
    max-width: 1000px;
    font-size: 1.5em;
}

.questionAnswerSection {
    max-width: 800px;
    margin: 2em auto;
}

.questionAnswer {
    border-bottom: 1px solid #ddd;
    padding: 1em 0;
    text-align: center;
}

.question {
    cursor: pointer;
    transition: color 0.2s ease;
}

.question:hover {
    color: #64B6AC;
}

.answer {
    line-height: 1.5em;
    color: #333;
}