.headerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em auto;
    max-width: 1000px;
}

.questionAnswerSection {
    position: relative;
    max-width: 800px;      
    margin: 2em auto;       
    padding: 1em;
    color: rgb(0, 0, 0);
    text-align: center;  
}