.headerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #64B6AC;
    margin: 3em auto;
    max-width: 1000px;
}

.hometitle {
    font-size: 5em;
}

.homedesc {
    color: #000000;
}

.infoSection {
    position: relative;
    padding: 10em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

/* transparency overlay */
.infoSection::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(66, 66, 66, 0.5);
    z-index: 0;
}

/* text above overlay */
.infoSection>* {
    position: relative;
    z-index: 1;
}

.quizBanner {
    background-image: url("../assets/flu-shot-with-bandaid.png");
}

.faqBanner {
    background-image: url("../assets/faqBanner.png");
}

.contactBanner {
    background-image: url("../assets/contactBanner.png");
}

.logo {
    height: 4em;
    width: auto;
}

.titleContainer {
    display: flex;
    align-items: center;
    gap: 2em;
}

.buttonLight {
    padding: 10px 30px;
    background: white;
    border: 2px solid black;
    cursor: pointer;
    font-size: 1.1em;
}

.quizButton {
    text-decoration: none;
    background-color: #64B6AC;
    border: none;
    color: #FFFFFF;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
}

p {
    font-size: large;
}