#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2em;
	padding: 0.5em 2em;
	font-size: 2em;
	border-bottom: 2px solid lightgrey;
}

#navbarItems {
	display: flex;
	gap: 1em;
	font-weight: 700;
	font-size: 0.8em;
}

#navbarItems .selected {
	background-color: rgb(245, 245, 245);
	border-radius: 10px;
}

#quizInfoSection > h1 {
	text-align: center;
	font-size: 2em;
}

#quizInfoSection > p {
	text-align: center;
	font-size: 1.2em;
	margin: 1em auto;
}

#welcome {
	text-align: center;
	margin: 1em auto;
	font-size: 1.5em;
}

#homeBanner {
	height: 300px;
	width: 100%;
	object-fit: contain;
}

#heroSection, #quizInfoSection {
	margin: 1em auto;
	padding: 0.1em;
	background-color: rgb(245, 245, 245);
}

.brand {
	font-weight: 700;
	font-size: 1.2em;
	color: black;
}

.navbarItem {
	padding: 0.25em 0.5em;
	color: black;
	border-radius: 5px;
	font-size: 0.7em;
}

.columnSection {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 3em auto;
	max-width: 1200px;
	gap: 2em;
}

.headerSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5em auto;
	flex: 1;
	max-width: 1000px;
}

.headerSection > h1 {
	font-size: 2em;
}

.gridSection {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	gap: 2em;
	margin: 3em auto;
	max-width: 1200px;
}

.gridSection > .centered {
	grid-column: 2;
}

separator {
	width: 5px;
	background-color: lightgrey;
	border-radius: 500px;
}

h1 {
	font-size: 3em;
}

h2 {
	font-weight: 400;
	color: rgb(93, 93, 93);
}

h3 {
	font-size: 1.5em;
	margin-bottom: 0.5em;
}