.headerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em auto;
    max-width: 1000px;
}

.quizInfoSection {
    position: relative;
    padding: 10em;
    background-image: url("https://www.conehealth.com/app/files/public/Flu%20Shot%20with%20Bandaid.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

/* transparency overlay */
.quizInfoSection::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(66, 66, 66, 0.5);
    z-index: 0;
}

/* text above overlay */
.quizInfoSection > * {
    position: relative;
    z-index: 1;
}


.buttonLight {
    padding: 10px 30px;
    background: white;
    border: 2px solid black;
    cursor: pointer;
    font-size: 1.1em;
}

p {
	font-size: large;
}