.headerSection {
	text-align: center;
	color: #64B6AC;
	margin: 1.5em auto;
	max-width: 1000px;
	font-size: 1.5em;
}

.quizdesc {
	font-size: 1.2rem;
	color: #000000;
	font-weight: 500;
}

.quizform {
	border: .1rem solid #5D737E;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem auto;
	max-width: 700px;
	padding: 1.5rem;
	line-height: 2.5rem;
	font-size: 1.2rem;
}

.checkboxLabel {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.checkbox {
	border: 2px solid black;
	appearance: none;
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 20px;
	transition: scale 0.1s ease-in-out;
}

.checkbox:hover {
	scale: 1.1;
}

.checkbox:active {
	scale: 0.9;
	background-color: #5d737e !important;
}

.checkbox:checked {
	background-color: #64b6ac;
}

.quizcheckboxes {
	display: flex;
	align-items: center;
	gap: 50px;
	margin-left: 30px;
}

.errormsg {
	color: red;
	font-weight: bold;
	margin-top: 1rem;
	font-size: 1.5rem;
}

.submitbtn {
	background-color: #64B6AC;
	color: white;
	border: none;
	padding: 1rem 1.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	font-size: 1.3rem;
	margin-top: 1rem;
}

.submitcontainer {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

.quizscore {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	margin: 3rem auto;
}