.quiztitle{
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
    color: #64B6AC;
    margin: 3rem auto;
    max-width: 1000px;
}
.quizdesc{
	font-size: 1.2rem;
	color: #000000;
	font-weight:normal;
}
.quizform{
	border: .1rem dotted #5D737E;
	border-radius: 1rem;
	display: flex;
	margin: 5rem;
}
.checkbox{
	display: flex;
}
.yes, .no{
	display: flex;
	flex-direction: column;
	margin: 1rem;
	
}