.brand {
	font-weight: 700;
	font-size: 1.2em;
	color: black;
}

.column-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 3em auto;
	max-width: 1200px;
	gap: 2em;
}

.header-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5em auto;
	flex: 1;
	max-width: 1000px;
}

.header-section > h1 {
	font-size: 2em;
}

.grid-section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	gap: 2em;
	margin: 3em auto;
	max-width: 1200px;
}

.grid-section > .centered {
	grid-column: 2;
}

.spacer {
    height: 80px;
}

button {
	transition: scale 0.05s ease-in-out;
}

button:hover {
	scale: 1.05;
	background-color: #59adab;
}

button:active {
	scale: 0.95;
	background-color: #4f9998;
}