.brand {
	font-weight: 700;
	font-size: 1.2em;
	color: black;
}

.column-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 3em auto;
	max-width: 1200px;
	gap: 2em;
}

.header-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5em auto;
	flex: 1;
	max-width: 1000px;
}

.header-section > h1 {
	font-size: 2em;
}

.grid-section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	gap: 2em;
	margin: 3em auto;
	max-width: 1200px;
}

.grid-section > .centered {
	grid-column: 2;
}

separator {
	width: 5px;
	background-color: lightgrey;
	border-radius: 500px;
}