#navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2em;
	margin: 0.5em 0;
	padding: 0.5em 0;
	font-size: 1.25em;
	background-color: lightblue;
}

#navbar-brand {
	font-weight: 700;
	font-size: 1.2em;
	color: black;
}

#navbar-items {
	display: flex;
	gap: 1em;
}

#welcome {
	text-align: center;
	margin: 1em auto;
	font-size: 1.5em;
}

.navbar-item {
	padding: 0.25em 0.5em;
	background-color: white;
	color: black;
	border-radius: 5px;
}

.column-section {
	display: flex;
	flex-direction: row;
	margin: 3em auto;
	max-width: 1200px;
	gap: 2em;
}

.header-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5em auto;
	flex: 1;
}

separator {
	width: 5px;
	background-color: lightgrey;
	border-radius: 500px;
}