#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2em;
	margin: 0.5em 0;
	padding: 0.5em 2em;
	font-size: 2em;
	background-color: lightblue;
}

#navbar-brand {
	font-weight: 700;
	font-size: 1.2em;
	color: black;
}

#navbar-items {
	display: flex;
	gap: 1em;
}

#welcome {
	text-align: center;
	margin: 1em auto;
	font-size: 1.5em;
}

.navbar-item {
	padding: 0.25em 0.5em;
	color: black;
	border-radius: 5px;
	font-size: 0.7em;
}

.column-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 3em auto;
	max-width: 1200px;
	gap: 2em;
}

.header-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5em auto;
	flex: 1;
}

.grid-section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	gap: 2em;
	margin: 3em auto;
	max-width: 1200px;
}

.grid-section > .centered {
	grid-column: 2;
}

separator {
	width: 5px;
	background-color: lightgrey;
	border-radius: 500px;
}

h1 {
	font-size: 3em;
}

h2 {
	font-weight: 400;
	color: rgb(93, 93, 93);
}

h3 {
	font-size: 1.5em;
	margin-bottom: 0.5em;
}