.button-dark, .button-light {
	width: 15em;
	padding: 1em 0;
	border-radius: 15px;
	font-weight: 500;
	font-size: 1.2em;
}

.button-dark {
	background-color: rgb(53, 53, 53);
	color: white;
	border: 1px solid grey;
}

.button-light {
	background-color: rgb(226, 226, 226);
	color: rgb(0, 0, 0);
	border: 1px solid lightgrey;
}

a {
	text-decoration: inherit;
}
a:hover {
	color: #64B6AC;
}

body {
	margin: 0;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	background-color: #FCFFFD;
}

p {
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}