a {
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
}

p {
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}